@import "bs_variables";
@import "bootstrap/scss/bootstrap";

$fs-list: (
  "11": 11px,
  "12": 12px,
  "13": 13px,
  "14": 14px,
  "15": 15px,
  "16": 16px,
  "17": 17px,
  "18": 18px,
  "19": 19px,
  "20": 20px,
  "21": 21px,
  "22": 22px,
  "23": 23px,
  "24": 24px,
  "25": 25px,
  "26": 26px,
  "27": 27px,
  "28": 28px,
  "29": 29px,
);


@each $class, $value in $fs-list {
  .fs-#{$class} {
    font-size: $value;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,");
}
